.SessionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.SessionForm {
  display: flex;
  flex-direction: column;
  width: 330px;
}

.SessionInput {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.SessionTitle {
  text-align: center;
}

.SessionButton {
  width: 330px;
  height: 40px;
  margin: 20px 0 40px 0;
  border: none;
  font-size: 18px;
  background-color: #2272E2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.SessionLink {
  color: #1169AD;
  text-decoration: none;
  cursor: pointer;
}
